@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

// Colors
@brand-primary:         #5b7a31;

@logo: "http://drumleekfarmhouse.com/wp-content/themes/drumleekfarmhouse/assets/images/logo.png";
@logo2x: "http://drumleekfarmhouse.com/wp-content/themes/drumleekfarmhouse/assets/images/logo@2x.png";


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;

	img {
		max-width: 100%;
		height: auto;
	}

	p, li {
		color: #838383;
	}

	.row.images {
		img {
			margin-bottom: 20px;
		}

		@media (max-width: 767px) {
			text-align: center;
		}

		margin-top: 20px;
	}

	a.btn {
		border: 2px solid;
		padding: 14px;
		border-radius: 5px;
		color: @brand-primary;
		font-size: 16px;
		float: right;
  		margin-top: 10px;
  		font-weight: 700;
	}

	a.btn:hover, a.btn:focus {
		border: 2px solid @brand-primary;
		background: @brand-primary;
		color: #fff;
	}

	a.btn-light {
		color: #fff;
	}

	a.btn-light:hover, a.btn-light:focus {
		border: 2px solid #fff;
		background: #fff;
		color: @brand-primary;
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}

	.wrap.container {
		max-width: 800px;
	}

	h1, h2 {
		text-transform: uppercase;
  		font-weight: 700;
	}

	.page-header {
		h1 {
			@media (min-width: 768px) {
				font-size: 45px;
			}
		}
		border: none;
		margin: 40px 0 0;
		padding-bottom: 0;
	}

	.page-subheading {
		text-align: center;
  		font-size: 22px;
  		margin: 0px 0 60px;
	}

	.scroll-spacing {
		@media (min-width: 768px) {
			height: 110px;
		}
	}

}

.page-template-template-things-to-do {
	@media (min-width: 768px) {
		.page-subheading {
			margin: 0;
		}

		h2 {
			margin-bottom: 25px;
		}

		.navbar-default.shrink{
			.navbar-sub {
				display: block;
			}
		}
	}
}

.navbar-default {
	.navbar-brand {
		background: url(@logo2x) no-repeat;
		background-size: contain;
		text-indent: -9999px;
		height: 46px;
  		width: 170px;
		margin: 20px 0px;
		transition: all .1s ease;
		margin-left: 20px;

		@media (min-width: 768px) {
			background: url(@logo) no-repeat;
			background-size: contain;
			margin-left: 0;
			height: 48px;
  			width: 175px;
  			margin: 24px 0px;
		}

		@media (min-width: 992px) {
			height: 55px;
			width: 205px;
			margin: 20px 0px;
		}
	}

	.navbar-nav {
		@media (min-width: 768px) {
			float: right;
			margin: 22px 0px;
			transition: all .1s ease;
			font-size: 14px;

			.menu-home {
				display: none;
			}
		}

		@media (min-width:992px) {
			font-size: 16px;

			.menu-home {
				display: block;
			}
		}

		.menu-book-now {
			a {
				@media (min-width:992px) {
					border: 2px solid;
					padding: 14px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					transition: all .1s ease;
				}
				font-weight: 700;
			}
			a:hover {
				@media(min-width:992px) {
					background: #fff;
					color: @brand-primary;
					opacity: 1;
					border: 2px solid #fff;
				}
			}
		}

		.dropdown-menu {
			border: none;
			box-shadow: none;
		}

		a.btn {
			color: #fff;
		}

		a.btn:hover {
			border: 2px solid #fff;
			background: #fff;
			color: @brand-primary;
		}
	}

	.navbar-nav>li>a {
		color: #fff;

		@media (min-width: 768px) {
			padding: 15px 10px;
		}

		@media (min-width: 992px) {
			padding: 15px 15px;
		}
	}

	.navbar-nav>.active>a.dropdown-toggle, .navbar-nav>.active>a.dropdown-toggle:hover, .navbar-nav>.active>a.dropdown-toggle:focus {
		border-bottom: none;
	}

	.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
		@media (min-width: 768px) {
			border-bottom: 2px solid;
			color: #fff;
			background-color: transparent;
		}

		background: rgba(0, 0, 0, 0.1);
		color: #fff;
	}

	.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
		color: #fff;
		background-color: transparent;
		opacity: 1;
	}

	.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
  		color: #fff;
  		opacity: 0.8;
  	}

  	.navbar-toggle {
  		.icon-bar {
  			display: none;
  		}

  		font-family: 'FontAwesome';
  		color: #fff;
  		border: none;
  		padding: 24px 20px;
  	}

	.navbar-toggle::after {
	    content: "";
	}

	.navbar-toggle:hover, .navbar-toggle:focus {
  		background-color: transparent;
	}

  	position: fixed;
  	width: 100%;
	background-color: @brand-primary;
	border: none;
	margin-bottom: 0px;
}

.navbar-default.shrink {
	.navbar-brand {
		@media (min-width: 768px) {
			height: 38px;
			margin: 10px 0;
		}
  		
  		height: 35px;
  		margin: 10px 0 10px 20px;
		transition: all .1s ease;
	}

	.navbar-toggle {
		padding: 8px 20px;
	}

	.navbar-nav {
		@media (min-width: 768px) {
			margin: 3px 0px;
			transition: all .1s ease;
		}

		.menu-book-now {
			a {
				border: none;
				padding: 14px;
				border-radius: 0;
				font-weight: 400;
				transition: all .1s ease;
			}
			a:hover {
				background: transparent;
				color: #fff;
				opacity: 0.8;
				border: none;
			}
		}
	}

	.navbar-sub{
		.navbar-nav {
			@media (min-width: 768px) {
				margin: 0;
			}
		}
	}
}

.navbar-sub {
	@media (min-width: 768px) {
		display: none;
		background: #f9f9f9;
		margin: 58px 0 0 0;
	    position: fixed;
	    top: 0;
	    z-index: 10000;
	    left: 0;
	    width: 100%;
	    border-radius: 0;
	    border: none;
	    min-height: 0;

		a {
			font-weight: 700;
		}

		.navbar-nav {
    		width: 100%;
    		text-align: center;
    		margin: 0;
  		}

		.navbar-nav > li {
    		float: none;
    		display: inline-block;
		}

		.navbar-nav > li.active {
			background: #eee;
		}

		.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
			border-bottom: none;
		}

		.navbar-nav>li>a, .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
			color: @brand-primary;
		}

		.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
			color: #333;
		}
	}

	display: none;
}

.intro {

	.heading {
		color: #fff;
		font-size: 35px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;

		@media (min-width: 768px) {
			text-align: right;
		}
	}

	.text {
		color: #fff;
		text-align: center;
		font-style: italic;
		font-size: 18px;

		@media (min-width: 768px) {
			text-align: right;
		}
	}

	.box-right {
		@media (min-width: 768px) {
			float: right;
			width: 350px;
		}

		.btn {
			display: block;
			float: none;

			@media (min-width: 768px) {
				float: right;
			}
		}
	}

	@media (min-width: 768px) {
		display: block;
		padding: 120px 0;
	}

	display: none;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover; 
    height: 280px; 
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 68px 0;
  	margin-bottom: 30px;
}

.home .intro {
	height: 320px;
	display: block;

	@media (min-width: 768px) {
		height: 450px;
	}

}

.header-fill {
	@media (min-width: 768px) {
		height: 96px;
	}

	width: 100%;
	height: 86px;
	background: @brand-primary;
}

.img-grid {
	.padding {
		@media (max-width: 767px) {
			padding-bottom: 30px;
		}
	}
}

footer {
	.funding {
		.text-2 {
			font-weight: 700;
			text-transform: uppercase;
			font-size: 11px;
			margin: 15px 0;
		}
		font-size: 12px;
		text-align: center;
		padding: 50px 0 40px;
	}

	.copyrights {
		background: #343434;
		color: #fff;
		text-align: center;

		@media (min-width: 768px) {
			text-align: left;
		}

		.copyright-float {
			display: block;
			@media (min-width: 768px) {
				float: right;
				display: inline-block;
			}
		}

		a {
			font-weight: 700;
			color: #fff;
		}
		a:hover {
			text-decoration: none;
			color: #adadad;
		}
		.container {
			padding: 15px 0;
  			font-size: 12px;
		}
	}

	background: #f5f5f5;
	margin-top: 30px;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	height: 0px;
}

input[type=submit] {
	display: block;
	width: 100%;
}

.cap-image {
	text-align: center;
	margin: 0;
	padding: 3px;
}